<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="text/javascript">
            var RootUrl = '@Url.Content("~/")';
    </script>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.css"
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">Orders</button>
                                <div class="dropdown-content">
                                    <a asp-area="" asp-controller="Order" asp-action="Index">List</a>
                                    @if (User.IsInRole("Orders"))
                                    {
                                        <a href="/order/Create">Create</a>
                                    }
                                </div>
                            </div>
                        </li>
                    }


                    @if (User.IsInRole("Folirung") || User.IsInRole("Handarbeit") || User.IsInRole("Inkchet") || User.IsInRole("Falcen") || User.IsInRole("Covertirung") || User.IsInRole("Lager") || User.IsInRole("Fahrer"))
                    {
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">My Work</button>
                                <div class="dropdown-content">
                                    @if (User.IsInRole("Folirung"))
                                    {
                                        <a href="/DepartmentState/MyWork?DepartmentStateId=1">Folirung</a>
                                    }
                                    @if (User.IsInRole("Handarbeit"))
                                    {
                                        <a href="/DepartmentState/MyWork?DepartmentStateId=2">Handarbeit</a>
                                    }
                                    @if (User.IsInRole("Inkchet"))
                                    {
                                        <a href="/DepartmentState/MyWork?DepartmentStateId=3">Inkchet</a>
                                    }
                                    @if (User.IsInRole("Falcen"))
                                    {
                                        <a href="/DepartmentState/MyWork?DepartmentStateId=4">Falcen</a>
                                    }
                                    @if (User.IsInRole("Covertirung"))
                                    {
                                        <a href="/DepartmentState/MyWork?DepartmentStateId=5">Covertirung</a>
                                    }
                                    @if (User.IsInRole("Lager"))
                                    {
                                        <a href="/DepartmentState/MyWork?DepartmentStateId=6">Lager</a>
                                    }
                                    @if (User.IsInRole("Fahrer"))
                                    {
                                        <a href="/DepartmentState/MyWork?DepartmentStateId=7">Fahrer</a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">Available Work</button>
                                <div class="dropdown-content">
                                    @if (User.IsInRole("Folirung"))
                                    {
                                        <a href="/order/AvailableWork?locationNameNum=1">Folirung</a>
                                    }
                                    @if (User.IsInRole("Handarbeit"))
                                    {
                                        <a href="/order/AvailableWork?locationNameNum=2">Handarbeit</a>
                                    }
                                    @if (User.IsInRole("Inkchet"))
                                    {
                                        <a href="/order/AvailableWork?locationNameNum=3">Inkchet</a>
                                    }
                                    @if (User.IsInRole("Falcen"))
                                    {
                                        <a href="/order/AvailableWork?locationNameNum=4">Falcen</a>
                                    }
                                    @if (User.IsInRole("Covertirung"))
                                    {
                                        <a href="/order/AvailableWork?locationNameNum=5">Covertirung</a>
                                    }
                                    @if (User.IsInRole("Lager"))
                                    {
                                        <a href="/order/AvailableWork?locationNameNum=6">Lager</a>
                                    }
                                    @if (User.IsInRole("Fahrer"))
                                    {
                                        <a href="/order/AvailableWork?locationNameNum=7">Fahrer</a>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">Write Message</button>
                                <div class="dropdown-content">
                                    <a href="/Messages/WriteNote?DepartmentStateId=1">Folirung</a>
                                    <a href="/Messages/WriteNote?DepartmentStateId=2">Handarbeit</a>
                                    <a href="/Messages/WriteNote?DepartmentStateId=3">Inkchet</a>
                                    <a href="/Messages/WriteNote?DepartmentStateId=4">Falcen</a>
                                    <a href="/Messages/WriteNote?DepartmentStateId=5">Covertirung</a>
                                    <a href="/Messages/WriteNote?DepartmentStateId=6">Lager</a>
                                    <a href="/Messages/WriteNote?DepartmentStateId=7">Fahrer</a>
                                </div>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("Folirung") || User.IsInRole("Handarbeit") || User.IsInRole("Inkchet") || User.IsInRole("Falcen") || User.IsInRole("Covertirung") || User.IsInRole("Lager") || User.IsInRole("Fahrer"))
                    {

                        @if (User.IsInRole("Folirung") || User.IsInRole("Handarbeit") || User.IsInRole("Inkchet") || User.IsInRole("Falcen") || User.IsInRole("Covertirung") || User.IsInRole("Lager") || User.IsInRole("Fahrer"))
                        {
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Read Messages</button>
                                    <div class="dropdown-content">
                                        @if (User.IsInRole("Folirung"))
                                        {
                                            <a href="/Messages/Index/1">Folirung</a>
                                        }
                                        @if (User.IsInRole("Handarbeit"))
                                        {
                                            <a href="/Messages/Index/2">Handarbeit</a>
                                        }
                                        @if (User.IsInRole("Inkchet"))
                                        {
                                            <a href="/Messages/Index/3">Inkchet</a>
                                        }
                                        @if (User.IsInRole("Falcen"))
                                        {
                                            <a href="/Messages/Index/4">Falcen</a>
                                        }
                                        @if (User.IsInRole("Covertirung"))
                                        {
                                            <a href="/Messages/Index/5">Covertirung</a>
                                        }
                                        @if (User.IsInRole("Lager"))
                                        {
                                            <a href="/Messages/Index/6">Lager</a>
                                        }
                                        @if (User.IsInRole("Fahrer"))
                                        {
                                            <a href="/Messages/Index/7">Fahrer</a>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="/account/logout">Sign Out</a>
                        </li>
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">Admin Menu</button>
                                <div class="dropdown-content">
                                    <a href="/account/Index">Users</a>
                                    <a href="/Log/Index">Log</a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @if (ViewBag.successMessage != null || ViewBag.errorMessage != null)
        {
            <br />
        }
        <div class="text-align-center">
            <p class="successMessage">
                @ViewBag.successMessage
            </p>
            <p class="successMessage">
                @TempData["success"]
            </p>
            <p class="errorMessage">
                @ViewBag.errorMessage
            </p>
        </div>
        @RenderBody()

    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery/organiser.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/organiser.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
