@model UsersCreateUpdateViewModel

@{
    ViewData["Title"] = "User Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<hr />
<h2>Edit User </h2>

<br />

<hr />
<div class="text-align-center">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger centralised"></div>
        <input type="hidden" asp-for="UserId" />
        <div class="form-group">
            <label asp-for="UserName" class="control-label centralised"></label>
            <input asp-for="UserName" class="form-control centralised" />
            <span asp-validation-for="UserName" class="text-danger centralised"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label centralised"></label>
            <input asp-for="Password" class="form-control centralised" onclick="myFunction('1')" id="pass1"/>
            <span asp-validation-for="Password" class="text-danger centralised"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label centralised" value="@Model.ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control centralised"  onclick="myFunction('2')" id="pass2"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger centralised"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                </label>
            </div>
        </div>
        @{ int counter = 0;
            string locname; }
        @foreach (List<SelectListItem> roleDropDown in Model.RoleDropDowns)
        {
            locname = "Role" + counter.ToString();
            <select name="@locname" class="form-control centralised" asp-items='@roleDropDown'></select>
            counter++;
        }
        @*<div class="formside">
                @{string locname;}
                @for (int i = 0; i < 8; i++)
                {
                    locname = "Role" + i.ToString();
                    <select name="@locname" class="form-control" asp-items='@(List<SelectListItem>)ViewBag.locDefaults'></select>
                }
            </div>*@
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>

</div>


<script>
    function myFunction(num) {
        var x = document.getElementById("pass" + num);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

